.webcam-faces {
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    flex: 1;
    justify-content: center;
    transition: all 0.5s ease;
}

.webcam {
    border-radius: 50%;
    -webkit-box-shadow: 0px 0px 16px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 16px 1px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 16px 1px rgba(0,0,0,0.75);
}

.emoji {
    width: 0px;
    border-radius: 50%;
    transition: all 0.25s ease-in;
}

.emoji.emoji-modal {
    width: 200px;
    align-self: center;
}

.emoji.hasStarted {
    width: 480px;
}

.current_expression-container{
    display: flex;
    flex: 1;
    justify-content: space-around;
}

.current_expression-emoji {
    border-radius: 50%;
    max-width: 300px;
    -webkit-box-shadow: 0px 0px 16px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 16px 1px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 16px 1px rgba(0,0,0,0.75);
    flex:1;
}

.emoji-timer-container{
    display:flex;
    justify-content: center;
    justify-items: center;
    justify-self: center;
    border-radius: 50%;
    width: 0px;
    transition: all 0.25s ease-in;
}

.emoji-timer-container.hasStarted{
    margin-left: 150px;
    -webkit-box-shadow: 0px 0px 16px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 16px 1px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 16px 1px rgba(0,0,0,0.75);
    width: 480px;
}

.timer {
    align-items: center;
    display: flex;
    text-align: center;
    justify-content: center;
    justify-items: center;
    justify-self: center;
    flex-direction: row;
    flex: 1;
    font-weight: bold;
    font-size: 30px;
}

.timer-text{
    margin-left: 15px;
}

.game-info {
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex:1;
}

.game-info.is-hidden{
    opacity: 0;
}

.spacer{
    flex:1;
}

.controls {
    display: flex;
    flex: 1;
    justify-content: center;
    padding-top: 20px;
}
